USE [master]
GO
/****** Object:  Database [Betbaum]    Script Date: 4/24/2021 1:53:39 AM ******/
CREATE DATABASE [Betbaum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Betbaum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Betbaum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Betbaum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Betbaum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Betbaum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Betbaum]
GO
/****** Object:  Table [dbo].[Fixture]    Script Date: 4/24/2021 1:53:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixture](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[leagueId] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[homeTeam] [varchar](255) NOT NULL,
	[awayTeam] [varchar](255) NOT NULL,
 CONSTRAINT [PK_FIXTURE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[League]    Script Date: 4/24/2021 1:53:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[League](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_LEAGUE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Fixture] ON 

INSERT [dbo].[Fixture] ([id], [leagueId], [date], [homeTeam], [awayTeam]) VALUES (2, 1, CAST(N'2021-05-21T19:50:00.000' AS DateTime), N'FC Belgrade', N'FC Barcelona')
INSERT [dbo].[Fixture] ([id], [leagueId], [date], [homeTeam], [awayTeam]) VALUES (3, 1, CAST(N'2021-05-21T21:50:00.000' AS DateTime), N'FC Bosnia', N'FC Montengro')
INSERT [dbo].[Fixture] ([id], [leagueId], [date], [homeTeam], [awayTeam]) VALUES (4, 2, CAST(N'2021-05-22T21:50:00.000' AS DateTime), N'FC Hungary', N'FC Romania')
SET IDENTITY_INSERT [dbo].[Fixture] OFF
GO
SET IDENTITY_INSERT [dbo].[League] ON 

INSERT [dbo].[League] ([id], [name]) VALUES (1, N'Manchester')
INSERT [dbo].[League] ([id], [name]) VALUES (2, N'FK beograd')
INSERT [dbo].[League] ([id], [name]) VALUES (3, N'Danilovgrad')
SET IDENTITY_INSERT [dbo].[League] OFF
GO
ALTER TABLE [dbo].[Fixture]  WITH CHECK ADD  CONSTRAINT [Fixture_fk0] FOREIGN KEY([leagueId])
REFERENCES [dbo].[League] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Fixture] CHECK CONSTRAINT [Fixture_fk0]
GO
USE [master]
GO
